:root {
  --sds-color-primitives-slate-100: #F3F3F3;
  --sds-color-primitives-slate-200: #E3E3E3;
  --sds-color-primitives-slate-300: #CDCDCD;
  --sds-color-primitives-slate-400: #B2B2B2;
  --sds-color-primitives-slate-500: #949494;
  --sds-color-primitives-slate-600: #767676;
  --sds-color-primitives-slate-700: #5A5A5A;
  --sds-color-primitives-slate-800: #434343;
  --sds-color-primitives-slate-900: #303030;
  --sds-color-primitives-slate-1000: #242424;
  --sds-color-primitives-white-100: #FFFFFF0D;
  --sds-color-primitives-white-200: #FFFFFF1A;
  --sds-color-primitives-white-300: #FFFFFF33;
  --sds-color-primitives-white-400: #FFFFFF66;
  --sds-color-primitives-white-500: #FFFFFFB2;
  --sds-color-primitives-white-600: #FFFFFFCC;
  --sds-color-primitives-white-700: #FFFFFFD9;
  --sds-color-primitives-white-800: #FFFFFFE5;
  --sds-color-primitives-white-900: #FFFFFFF2;
  --sds-color-primitives-white-1000: #FFFFFF;
  --sds-color-primitives-brand-100: #F5F5F5;
  --sds-color-primitives-brand-200: #E6E6E6;
  --sds-color-primitives-brand-300: #D9D9D9;
  --sds-color-primitives-brand-400: #B3B3B3;
  --sds-color-primitives-brand-500: #757575;
  --sds-color-primitives-brand-600: #444444;
  --sds-color-primitives-brand-700: #383838;
  --sds-color-primitives-brand-800: #2C2C2C;
  --sds-color-primitives-brand-900: #1E1E1E;
  --sds-color-primitives-brand-1000: #111111;
  --sds-color-primitives-red-100: #FEE9E7;
  --sds-color-primitives-red-200: #FDD3D0;
  --sds-color-primitives-red-300: #FCB3AD;
  --sds-color-primitives-red-400: #F4776A;
  --sds-color-primitives-red-500: #EC221F;
  --sds-color-primitives-red-600: #C00F0C;
  --sds-color-primitives-red-700: #900B09;
  --sds-color-primitives-red-800: #690807;
  --sds-color-primitives-red-900: #4D0B0A;
  --sds-color-primitives-red-1000: #300603;
  --sds-color-primitives-yellow-100: #FFFBEB;
  --sds-color-primitives-yellow-200: #FFF1C2;
  --sds-color-primitives-yellow-300: #FFE8A3;
  --sds-color-primitives-yellow-400: #E8B931;
  --sds-color-primitives-yellow-500: #E5A000;
  --sds-color-primitives-yellow-600: #BF6A02;
  --sds-color-primitives-yellow-700: #975102;
  --sds-color-primitives-yellow-800: #682D03;
  --sds-color-primitives-yellow-900: #522504;
  --sds-color-primitives-yellow-1000: #401B01;
  --sds-color-primitives-green-100: #EBFFEE;
  --sds-color-primitives-green-200: #CFF7D3;
  --sds-color-primitives-green-300: #AFF4C6;
  --sds-color-primitives-green-400: #85E0A3;
  --sds-color-primitives-green-500: #14AE5C;
  --sds-color-primitives-green-600: #009951;
  --sds-color-primitives-green-700: #008043;
  --sds-color-primitives-green-800: #02542D;
  --sds-color-primitives-green-900: #024023;
  --sds-color-primitives-green-1000: #062D1B;
  --sds-color-primitives-black-100: #0C0C0D0D;
  --sds-color-primitives-black-200: #0C0C0D1A;
  --sds-color-primitives-black-300: #0C0C0D33;
  --sds-color-primitives-black-400: #0C0C0D66;
  --sds-color-primitives-black-500: #0C0C0DB2;
  --sds-color-primitives-black-600: #0C0C0DCC;
  --sds-color-primitives-black-700: #0C0C0DD9;
  --sds-color-primitives-black-800: #0C0C0DE5;
  --sds-color-primitives-black-900: #0C0C0DF2;
  --sds-color-primitives-black-1000: #0C0C0D;
  --sds-color-primitives-pink-100: #FCF1FD;
  --sds-color-primitives-pink-200: #FAE1FA;
  --sds-color-primitives-pink-300: #F5C0EF;
  --sds-color-primitives-pink-400: #F19EDC;
  --sds-color-primitives-pink-500: #EA3FB8;
  --sds-color-primitives-pink-600: #D732A8;
  --sds-color-primitives-pink-700: #BA2A92;
  --sds-color-primitives-pink-800: #8A226F;
  --sds-color-primitives-pink-900: #57184A;
  --sds-color-primitives-pink-1000: #3F1536;
  --sds-color-primitives-gray-100: #F5F5F5;
  --sds-color-primitives-gray-200: #E6E6E6;
  --sds-color-primitives-gray-300: #D9D9D9;
  --sds-color-primitives-gray-400: #B3B3B3;
  --sds-color-primitives-gray-500: #757575;
  --sds-color-primitives-gray-600: #444444;
  --sds-color-primitives-gray-700: #383838;
  --sds-color-primitives-gray-800: #2C2C2C;
  --sds-color-primitives-gray-900: #1E1E1E;
  --sds-color-primitives-gray-1000: #111111;
  --sds-color-primitives-blue-100: #F1F6FD;
  --sds-color-primitives-blue-200: #E1EBFA;
  --sds-color-primitives-blue-300: #C0D4F5;
  --sds-color-primitives-blue-400: #9EBEF1;
  --sds-color-primitives-blue-500: #3F81EA;
  --sds-color-primitives-blue-600: #3271D7;
  --sds-color-primitives-blue-700: #2A61BA;
  --sds-color-primitives-blue-800: #224A8A;
  --sds-color-primitives-blue-900: #183057;
  --sds-color-primitives-blue-1000: #15253F;
  --sds-color-background-default-default: var(--sds-color-primitives-white-1000);
  --sds-color-background-default-secondary: var(--sds-color-primitives-gray-100);
  --sds-color-background-default-tertiary: var(--sds-color-primitives-gray-300);
  --sds-color-background-default-default-hover: var(--sds-color-primitives-gray-100);
  --sds-color-background-brand-default: var(--sds-color-primitives-brand-800);
  --sds-color-background-brand-secondary: var(--sds-color-primitives-brand-200);
  --sds-color-background-brand-hover: var(--sds-color-primitives-brand-900);
  --sds-color-background-positive-default: var(--sds-color-primitives-green-500);
  --sds-color-background-positive-secondary: var(--sds-color-primitives-green-200);
  --sds-color-background-positive-hover: var(--sds-color-primitives-green-600);
  --sds-color-background-warning-default: var(--sds-color-primitives-yellow-400);
  --sds-color-background-warning-secondary: var(--sds-color-primitives-yellow-200);
  --sds-color-background-warning-hover: var(--sds-color-primitives-yellow-500);
  --sds-color-background-danger-default: var(--sds-color-primitives-red-500);
  --sds-color-background-danger-secondary: var(--sds-color-primitives-red-200);
  --sds-color-background-danger-hover: var(--sds-color-primitives-red-600);
  --sds-color-background-disabled-default: var(--sds-color-primitives-gray-300);
  --sds-color-text-default-default: var(--sds-color-primitives-gray-900);
  --sds-color-text-default-secondary: var(--sds-color-primitives-gray-500);
  --sds-color-text-default-tertiary: var(--sds-color-primitives-gray-400);
  --sds-color-text-brand-default: var(--sds-color-primitives-brand-800);
  --sds-color-text-brand-secondary: var(--sds-color-primitives-brand-600);
  --sds-color-text-brand-tertiary: var(--sds-color-primitives-brand-500);
  --sds-color-text-brand-on-brand: var(--sds-color-primitives-brand-100);
  --sds-color-text-brand-on-brand-secondary: var(--sds-color-primitives-brand-900);
  --sds-color-text-positive-default: var(--sds-color-primitives-green-800);
  --sds-color-text-positive-secondary: var(--sds-color-primitives-green-600);
  --sds-color-text-positive-tertiary: var(--sds-color-primitives-green-500);
  --sds-color-text-positive-on-positive: var(--sds-color-primitives-green-100);
  --sds-color-text-positive-on-positive-secondary: var(--sds-color-primitives-green-800);
  --sds-color-text-warning-default: var(--sds-color-primitives-yellow-900);
  --sds-color-text-warning-secondary: var(--sds-color-primitives-yellow-700);
  --sds-color-text-warning-tertiary: var(--sds-color-primitives-yellow-600);
  --sds-color-text-warning-on-warning: var(--sds-color-primitives-yellow-1000);
  --sds-color-text-warning-on-warning-secondary: var(--sds-color-primitives-yellow-800);
  --sds-color-text-danger-default: var(--sds-color-primitives-red-700);
  --sds-color-text-danger-secondary: var(--sds-color-primitives-red-600);
  --sds-color-text-danger-tertiary: var(--sds-color-primitives-red-500);
  --sds-color-text-danger-on-danger: var(--sds-color-primitives-red-100);
  --sds-color-text-danger-on-danger-secondary: var(--sds-color-primitives-red-700);
  --sds-color-text-disabled-default: var(--sds-color-primitives-gray-400);
  --sds-color-text-disabled-on-disabled: var(--sds-color-primitives-gray-400);
  --sds-color-icon-default-default: var(--sds-color-primitives-gray-900);
  --sds-color-icon-default-secondary: var(--sds-color-primitives-gray-500);
  --sds-color-icon-default-tertiary: var(--sds-color-primitives-gray-400);
  --sds-color-icon-brand-default: var(--sds-color-primitives-brand-800);
  --sds-color-icon-brand-secondary: var(--sds-color-primitives-brand-600);
  --sds-color-icon-brand-tertiary: var(--sds-color-primitives-brand-500);
  --sds-color-icon-brand-on-brand: var(--sds-color-primitives-brand-100);
  --sds-color-icon-brand-on-brand-secondary: var(--sds-color-primitives-brand-900);
  --sds-color-icon-positive-default: var(--sds-color-primitives-green-800);
  --sds-color-icon-positive-secondary: var(--sds-color-primitives-green-600);
  --sds-color-icon-positive-tertiary: var(--sds-color-primitives-green-500);
  --sds-color-icon-positive-on-positive: var(--sds-color-primitives-green-100);
  --sds-color-icon-positive-on-positive-secondary: var(--sds-color-primitives-green-800);
  --sds-color-icon-warning-default: var(--sds-color-primitives-yellow-900);
  --sds-color-icon-warning-secondary: var(--sds-color-primitives-yellow-700);
  --sds-color-icon-warning-tertiary: var(--sds-color-primitives-yellow-600);
  --sds-color-icon-warning-on-warning: var(--sds-color-primitives-yellow-1000);
  --sds-color-icon-warning-on-warning-secondary: var(--sds-color-primitives-yellow-800);
  --sds-color-icon-danger-default: var(--sds-color-primitives-red-700);
  --sds-color-icon-danger-secondary: var(--sds-color-primitives-red-600);
  --sds-color-icon-danger-tertiary: var(--sds-color-primitives-red-500);
  --sds-color-icon-danger-on-danger: var(--sds-color-primitives-red-100);
  --sds-color-icon-danger-on-danger-secondary: var(--sds-color-primitives-red-700);
  --sds-color-icon-disabled-default: var(--sds-color-primitives-gray-400);
  --sds-color-icon-disabled-on-disabled: var(--sds-color-primitives-gray-400);
  --sds-color-border-default-default: var(--sds-color-primitives-gray-300);
  --sds-color-border-default-secondary: var(--sds-color-primitives-gray-500);
  --sds-color-border-brand-default: var(--sds-color-primitives-brand-800);
  --sds-color-border-brand-secondary: var(--sds-color-primitives-brand-600);
  --sds-color-border-positive-default: var(--sds-color-primitives-green-800);
  --sds-color-border-positive-secondary: var(--sds-color-primitives-green-600);
  --sds-color-border-warning-default: var(--sds-color-primitives-yellow-900);
  --sds-color-border-warning-secondary: var(--sds-color-primitives-yellow-700);
  --sds-color-border-danger-default: var(--sds-color-primitives-red-700);
  --sds-color-border-danger-secondary: var(--sds-color-primitives-red-600);
  --sds-color-border-disabled-default: var(--sds-color-primitives-gray-400);
  --sds-color-background-brand-secondary-hover: var(--sds-color-primitives-brand-300);
  --sds-color-background-utilities-scrim: #FFFFFFCC;
  --sds-color-background-utilities-overlay: #00000080;
  --sds-color-text-utilities-text-on-overlay: var(--sds-color-primitives-black-1000);
  --sds-color-background-brand-tertiary: var(--sds-color-primitives-brand-100);
  --sds-color-text-brand-on-brand-tertiary: var(--sds-color-primitives-brand-800);
  --sds-color-background-brand-tertiary-hover: var(--sds-color-primitives-brand-200);
  --sds-color-background-default-secondary-hover: var(--sds-color-primitives-gray-200);
  --sds-color-background-default-tertiary-hover: var(--sds-color-primitives-gray-400);
  --sds-color-background-positive-secondary-hover: var(--sds-color-primitives-green-300);
  --sds-color-background-warning-secondary-hover: var(--sds-color-primitives-yellow-300);
  --sds-color-background-danger-secondary-hover: var(--sds-color-primitives-red-300);
  --sds-color-icon-brand-on-brand-tertiary: var(--sds-color-primitives-brand-800);
  --sds-color-icon-warning-on-warning-tertiary: var(--sds-color-primitives-yellow-900);
  --sds-color-icon-danger-on-danger-tertiary: var(--sds-color-primitives-red-700);
  --sds-color-icon-positive-on-positive-tertiary: var(--sds-color-primitives-green-900);
  --sds-color-background-positive-tertiary: var(--sds-color-primitives-green-100);
  --sds-color-background-positive-tertiary-hover: var(--sds-color-primitives-green-200);
  --sds-color-background-warning-tertiary: var(--sds-color-primitives-yellow-100);
  --sds-color-background-warning-tertiary-hover: var(--sds-color-primitives-yellow-200);
  --sds-color-background-danger-tertiary: var(--sds-color-primitives-red-100);
  --sds-color-background-danger-tertiary-hover: var(--sds-color-primitives-red-200);
  --sds-color-text-warning-on-warning-tertiary: var(--sds-color-primitives-yellow-900);
  --sds-color-text-danger-on-danger-tertiary: var(--sds-color-primitives-red-700);
  --sds-color-text-positive-on-positive-tertiary: var(--sds-color-primitives-green-800);
  --sds-color-background-utilities-blanket: #000000B2;
  --sds-color-background-utilities-measurement: var(--sds-color-primitives-pink-200);
  --sds-color-text-utilities-text-on-measurement: var(--sds-color-primitives-pink-800);
  --sds-color-border-utilities-measurement: var(--sds-color-primitives-pink-400);
  --sds-color-background-neutral-default: var(--sds-color-primitives-slate-700);
  --sds-color-background-neutral-hover: var(--sds-color-primitives-slate-800);
  --sds-color-background-neutral-secondary: var(--sds-color-primitives-slate-300);
  --sds-color-background-neutral-secondary-hover: var(--sds-color-primitives-slate-400);
  --sds-color-background-neutral-tertiary: var(--sds-color-primitives-slate-200);
  --sds-color-background-neutral-tertiary-hover: var(--sds-color-primitives-slate-300);
  --sds-color-text-neutral-default: var(--sds-color-primitives-slate-900);
  --sds-color-text-neutral-secondary: var(--sds-color-primitives-slate-700);
  --sds-color-text-neutral-tertiary: var(--sds-color-primitives-slate-600);
  --sds-color-text-neutral-on-neutral: var(--sds-color-primitives-slate-100);
  --sds-color-text-neutral-on-neutral-secondary: var(--sds-color-primitives-slate-900);
  --sds-color-text-neutral-on-neutral-tertiary: var(--sds-color-primitives-slate-800);
  --sds-color-icon-neutral-default: var(--sds-color-primitives-slate-900);
  --sds-color-icon-neutral-secondary: var(--sds-color-primitives-slate-700);
  --sds-color-icon-neutral-tertiary: var(--sds-color-primitives-slate-600);
  --sds-color-icon-neutral-on-neutral: var(--sds-color-primitives-slate-100);
  --sds-color-icon-neutral-on-neutral-secondary: var(--sds-color-primitives-slate-900);
  --sds-color-icon-neutral-on-neutral-tertiary: var(--sds-color-primitives-slate-800);
  --sds-color-border-neutral-default: var(--sds-color-primitives-slate-900);
  --sds-color-border-neutral-secondary: var(--sds-color-primitives-slate-600);
  --sds-color-border-default-tertiary: var(--sds-color-primitives-gray-700);
  --sds-color-border-neutral-tertiary: var(--sds-color-primitives-slate-400);
  --sds-color-border-brand-tertiary: var(--sds-color-primitives-brand-500);
  --sds-color-border-positive-tertiary: var(--sds-color-primitives-green-500);
  --sds-color-border-warning-tertiary: var(--sds-color-primitives-yellow-600);
  --sds-color-border-danger-tertiary: var(--sds-color-primitives-red-500);
  --sds-color-icon-utilities-icon-on-measurement: var(--sds-color-primitives-pink-800);
  --sds-color-border-utilities-swatch: #0000003D;
  --sds-color-icon-utilities-icon: var(--sds-color-primitives-pink-600);
  --sds-typography-primitives-weight-thin: 100;
  --sds-typography-primitives-weight-extra-light: 200;
  --sds-typography-primitives-weight-light: 300;
  --sds-typography-primitives-weight-regular: 400;
  --sds-typography-primitives-weight-medium: 500;
  --sds-typography-primitives-weight-semibold: 600;
  --sds-typography-primitives-weight-bold: 700;
  --sds-typography-primitives-weight-extra-bold: 800;
  --sds-typography-primitives-weight-black: 900;
  --sds-typography-primitives-scale-10: 72px;
  --sds-typography-primitives-scale-09: 64px;
  --sds-typography-primitives-scale-08: 48px;
  --sds-typography-primitives-scale-07: 40px;
  --sds-typography-primitives-scale-06: 32px;
  --sds-typography-primitives-scale-05: 24px;
  --sds-typography-primitives-scale-04: 20px;
  --sds-typography-primitives-scale-03: 16px;
  --sds-typography-primitives-scale-02: 14px;
  --sds-typography-primitives-scale-01: 12px;
  --sds-typography-primitives-family-sans: Inter;
  --sds-typography-primitives-family-serif: Noto Serif;
  --sds-typography-primitives-family-mono: Roboto Mono;
  --sds-typography-primitives-weight-light-italic: Light Italic;
  --sds-typography-primitives-weight-regular-italic: Italic;
  --sds-typography-primitives-weight-bold-italic: Bold Italic;
  --sds-typography-primitives-weight-thin-italic: Thin Italic;
  --sds-typography-primitives-weight-extralight-italic: Extra Light Italic;
  --sds-typography-primitives-weight-medium-italic: Medium Italic;
  --sds-typography-primitives-weight-semibold-italic: Semi Bold Italic;
  --sds-typography-primitives-weight-extra-bold-italic: Extra Bold Italic;
  --sds-typography-primitives-weight-black-italic: Black Italic;
  --sds-responsive-device-width: 1200px;
  --sds-responsive-root-font-size: var(--sds-typography-primitives-scale-03);
  --sds-responsive-scale: 1;
  --sds-responsive-device: desktop;
  --sds-size-space-100: 4px;
  --sds-size-space-200: 8px;
  --sds-size-space-300: 12px;
  --sds-size-space-400: 16px;
  --sds-size-space-600: 24px;
  --sds-size-space-negative-100: -4px;
  --sds-size-space-negative-200: -8px;
  --sds-size-space-negative-300: -12px;
  --sds-size-space-negative-400: -16px;
  --sds-size-space-negative-600: -24px;
  --sds-size-radius-100: 4px;
  --sds-size-radius-200: 8px;
  --sds-size-radius-400: 16px;
  --sds-size-depth-0: 0px;
  --sds-size-depth-025: 1px;
  --sds-size-depth-100: 4px;
  --sds-size-depth-200: 8px;
  --sds-size-depth-400: 16px;
  --sds-size-depth-800: 32px;
  --sds-size-depth-1200: 48px;
  --sds-size-depth-negative-025: -1px;
  --sds-size-depth-negative-100: -4px;
  --sds-size-depth-negative-200: -8px;
  --sds-size-depth-negative-400: -16px;
  --sds-size-depth-negative-800: -32px;
  --sds-size-depth-negative-1200: -48px;
  --sds-size-radius-full: 9999px;
  --sds-size-space-1600: 64px;
  --sds-size-stroke-border: 1px;
  --sds-size-stroke-focus-ring: 2px;
  --sds-size-blur-100: 4px;
  --sds-size-space-4000: 160px;
  --sds-size-space-800: 32px;
  --sds-size-space-1200: 48px;
  --sds-size-space-2400: 96px;
  --sds-size-space-0: 0px;
  --sds-size-space-050: 2px;
  --sds-size-space-150: 6px;
  --sds-size-icon-small: 24px;
  --sds-size-icon-medium: 32px;
  --sds-size-icon-large: 40px;
  --sds-typography-title-page-font-family: var(--sds-typography-primitives-family-sans);
  --sds-typography-title-page-font-weight: var(--sds-typography-primitives-weight-bold);
  --sds-typography-title-page-size-small: var(--sds-typography-primitives-scale-07);
  --sds-typography-subtitle-font-family: var(--sds-typography-primitives-family-sans);
  --sds-typography-subtitle-size-base: var(--sds-typography-primitives-scale-06);
  --sds-typography-subtitle-font-weight: var(--sds-typography-primitives-weight-regular);
  --sds-typography-body-font-family: var(--sds-typography-primitives-family-sans);
  --sds-typography-body-size-medium: var(--sds-typography-primitives-scale-03);
  --sds-typography-body-font-weight-regular: var(--sds-typography-primitives-weight-regular);
  --sds-typography-code-font-family: var(--sds-typography-primitives-family-mono);
  --sds-typography-code-size-base: var(--sds-typography-body-size-medium);
  --sds-typography-code-font-weight: var(--sds-typography-body-font-weight-regular);
  --sds-typography-heading-font-family: var(--sds-typography-primitives-family-sans);
  --sds-typography-heading-size-base: var(--sds-typography-primitives-scale-05);
  --sds-typography-heading-font-weight: var(--sds-typography-primitives-weight-semibold);
  --sds-typography-title-hero-font-family: var(--sds-typography-primitives-family-sans);
  --sds-typography-title-hero-size: var(--sds-typography-primitives-scale-10);
  --sds-typography-title-hero-font-weight: var(--sds-typography-primitives-weight-bold);
  --sds-typography-title-page-size-base: var(--sds-typography-primitives-scale-08);
  --sds-typography-title-page-size-large: var(--sds-typography-primitives-scale-09);
  --sds-typography-subtitle-size-large: var(--sds-typography-primitives-scale-07);
  --sds-typography-subtitle-size-small: var(--sds-typography-primitives-scale-05);
  --sds-typography-heading-size-large: var(--sds-typography-primitives-scale-06);
  --sds-typography-heading-size-small: var(--sds-typography-primitives-scale-04);
  --sds-typography-body-size-large: var(--sds-typography-primitives-scale-04);
  --sds-typography-body-size-small: var(--sds-typography-primitives-scale-02);
  --sds-typography-code-size-large: var(--sds-typography-body-size-large);
  --sds-typography-code-size-small: var(--sds-typography-body-size-small);
  --sds-typography-body-font-weight-strong: var(--sds-typography-primitives-weight-semibold);
  --sds-typography-body-font-style-italic: var(--sds-typography-primitives-weight-regular-italic);
  --sds-typography-subheading-font-family: var(--sds-typography-primitives-family-sans);
  --sds-typography-subheading-size-small: var(--sds-typography-primitives-scale-03);
  --sds-typography-subheading-size-medium: var(--sds-typography-primitives-scale-04);
  --sds-typography-subheading-size-large: var(--sds-typography-primitives-scale-05);
  --sds-typography-subheading-font-weight: var(--sds-typography-primitives-weight-regular);
}

[data-theme="dark"] {
  --sds-color-background-default-default: var(--sds-color-primitives-gray-900);
  --sds-color-background-default-secondary: var(--sds-color-primitives-gray-800);
  --sds-color-background-default-tertiary: var(--sds-color-primitives-gray-600);
  --sds-color-background-default-default-hover: var(--sds-color-primitives-gray-700);
  --sds-color-background-brand-default: var(--sds-color-primitives-brand-100);
  --sds-color-background-brand-secondary: var(--sds-color-primitives-brand-600);
  --sds-color-background-brand-hover: var(--sds-color-primitives-brand-300);
  --sds-color-background-positive-default: var(--sds-color-primitives-green-700);
  --sds-color-background-positive-secondary: var(--sds-color-primitives-green-800);
  --sds-color-background-positive-hover: var(--sds-color-primitives-green-800);
  --sds-color-background-warning-default: var(--sds-color-primitives-yellow-400);
  --sds-color-background-warning-secondary: var(--sds-color-primitives-yellow-800);
  --sds-color-background-warning-hover: var(--sds-color-primitives-yellow-500);
  --sds-color-background-danger-default: var(--sds-color-primitives-red-600);
  --sds-color-background-danger-secondary: var(--sds-color-primitives-red-800);
  --sds-color-background-danger-hover: var(--sds-color-primitives-red-700);
  --sds-color-background-disabled-default: var(--sds-color-primitives-gray-700);
  --sds-color-text-default-default: var(--sds-color-primitives-white-1000);
  --sds-color-text-default-secondary: var(--sds-color-primitives-white-500);
  --sds-color-text-default-tertiary: var(--sds-color-primitives-white-400);
  --sds-color-text-brand-default: var(--sds-color-primitives-brand-100);
  --sds-color-text-brand-secondary: var(--sds-color-primitives-brand-300);
  --sds-color-text-brand-tertiary: var(--sds-color-primitives-brand-400);
  --sds-color-text-brand-on-brand: var(--sds-color-primitives-brand-900);
  --sds-color-text-brand-on-brand-secondary: var(--sds-color-primitives-brand-100);
  --sds-color-text-positive-default: var(--sds-color-primitives-green-200);
  --sds-color-text-positive-secondary: var(--sds-color-primitives-green-400);
  --sds-color-text-positive-tertiary: var(--sds-color-primitives-green-600);
  --sds-color-text-positive-on-positive: var(--sds-color-primitives-green-100);
  --sds-color-text-positive-on-positive-secondary: var(--sds-color-primitives-green-100);
  --sds-color-text-warning-default: var(--sds-color-primitives-yellow-200);
  --sds-color-text-warning-secondary: var(--sds-color-primitives-yellow-400);
  --sds-color-text-warning-tertiary: var(--sds-color-primitives-yellow-600);
  --sds-color-text-warning-on-warning: var(--sds-color-primitives-yellow-1000);
  --sds-color-text-warning-on-warning-secondary: var(--sds-color-primitives-yellow-100);
  --sds-color-text-danger-default: var(--sds-color-primitives-red-200);
  --sds-color-text-danger-secondary: var(--sds-color-primitives-red-400);
  --sds-color-text-danger-tertiary: var(--sds-color-primitives-red-500);
  --sds-color-text-danger-on-danger: var(--sds-color-primitives-red-100);
  --sds-color-text-danger-on-danger-secondary: var(--sds-color-primitives-red-100);
  --sds-color-text-disabled-default: var(--sds-color-primitives-gray-500);
  --sds-color-text-disabled-on-disabled: var(--sds-color-primitives-gray-400);
  --sds-color-icon-default-default: var(--sds-color-primitives-white-1000);
  --sds-color-icon-default-secondary: var(--sds-color-primitives-white-500);
  --sds-color-icon-default-tertiary: var(--sds-color-primitives-white-400);
  --sds-color-icon-brand-default: var(--sds-color-primitives-brand-100);
  --sds-color-icon-brand-secondary: var(--sds-color-primitives-brand-300);
  --sds-color-icon-brand-tertiary: var(--sds-color-primitives-brand-400);
  --sds-color-icon-brand-on-brand: var(--sds-color-primitives-brand-900);
  --sds-color-icon-brand-on-brand-secondary: var(--sds-color-primitives-brand-100);
  --sds-color-icon-positive-default: var(--sds-color-primitives-green-200);
  --sds-color-icon-positive-secondary: var(--sds-color-primitives-green-400);
  --sds-color-icon-positive-tertiary: var(--sds-color-primitives-green-600);
  --sds-color-icon-positive-on-positive: var(--sds-color-primitives-green-100);
  --sds-color-icon-positive-on-positive-secondary: var(--sds-color-primitives-green-100);
  --sds-color-icon-warning-default: var(--sds-color-primitives-yellow-200);
  --sds-color-icon-warning-secondary: var(--sds-color-primitives-yellow-400);
  --sds-color-icon-warning-tertiary: var(--sds-color-primitives-yellow-600);
  --sds-color-icon-warning-on-warning: var(--sds-color-primitives-yellow-1000);
  --sds-color-icon-warning-on-warning-secondary: var(--sds-color-primitives-yellow-100);
  --sds-color-icon-danger-default: var(--sds-color-primitives-red-200);
  --sds-color-icon-danger-secondary: var(--sds-color-primitives-red-400);
  --sds-color-icon-danger-tertiary: var(--sds-color-primitives-red-500);
  --sds-color-icon-danger-on-danger: var(--sds-color-primitives-red-100);
  --sds-color-icon-danger-on-danger-secondary: var(--sds-color-primitives-red-100);
  --sds-color-icon-disabled-default: var(--sds-color-primitives-gray-500);
  --sds-color-icon-disabled-on-disabled: var(--sds-color-primitives-gray-400);
  --sds-color-border-default-default: var(--sds-color-primitives-gray-600);
  --sds-color-border-default-secondary: var(--sds-color-primitives-gray-500);
  --sds-color-border-brand-default: var(--sds-color-primitives-brand-100);
  --sds-color-border-brand-secondary: var(--sds-color-primitives-brand-300);
  --sds-color-border-positive-default: var(--sds-color-primitives-green-200);
  --sds-color-border-positive-secondary: var(--sds-color-primitives-green-400);
  --sds-color-border-warning-default: var(--sds-color-primitives-yellow-200);
  --sds-color-border-warning-secondary: var(--sds-color-primitives-yellow-400);
  --sds-color-border-danger-default: var(--sds-color-primitives-red-200);
  --sds-color-border-danger-secondary: var(--sds-color-primitives-red-400);
  --sds-color-border-disabled-default: var(--sds-color-primitives-gray-600);
  --sds-color-background-brand-secondary-hover: var(--sds-color-primitives-brand-500);
  --sds-color-background-utilities-scrim: #000000CC;
  --sds-color-background-utilities-overlay: #00000080;
  --sds-color-text-utilities-text-on-overlay: var(--sds-color-primitives-white-1000);
  --sds-color-background-brand-tertiary: var(--sds-color-primitives-brand-600);
  --sds-color-text-brand-on-brand-tertiary: var(--sds-color-primitives-brand-100);
  --sds-color-background-brand-tertiary-hover: var(--sds-color-primitives-brand-800);
  --sds-color-background-default-secondary-hover: var(--sds-color-primitives-gray-900);
  --sds-color-background-default-tertiary-hover: var(--sds-color-primitives-gray-700);
  --sds-color-background-positive-secondary-hover: var(--sds-color-primitives-green-900);
  --sds-color-background-warning-secondary-hover: var(--sds-color-primitives-yellow-900);
  --sds-color-background-danger-secondary-hover: var(--sds-color-primitives-red-900);
  --sds-color-icon-brand-on-brand-tertiary: var(--sds-color-primitives-brand-100);
  --sds-color-icon-warning-on-warning-tertiary: var(--sds-color-primitives-yellow-100);
  --sds-color-icon-danger-on-danger-tertiary: var(--sds-color-primitives-red-100);
  --sds-color-icon-positive-on-positive-tertiary: var(--sds-color-primitives-green-100);
  --sds-color-background-positive-tertiary: var(--sds-color-primitives-green-900);
  --sds-color-background-positive-tertiary-hover: var(--sds-color-primitives-green-1000);
  --sds-color-background-warning-tertiary: var(--sds-color-primitives-yellow-900);
  --sds-color-background-warning-tertiary-hover: var(--sds-color-primitives-yellow-1000);
  --sds-color-background-danger-tertiary: var(--sds-color-primitives-red-900);
  --sds-color-background-danger-tertiary-hover: var(--sds-color-primitives-red-1000);
  --sds-color-text-warning-on-warning-tertiary: var(--sds-color-primitives-yellow-100);
  --sds-color-text-danger-on-danger-tertiary: var(--sds-color-primitives-red-100);
  --sds-color-text-positive-on-positive-tertiary: var(--sds-color-primitives-green-100);
  --sds-color-background-utilities-blanket: #000000B2;
  --sds-color-background-utilities-measurement: var(--sds-color-primitives-pink-800);
  --sds-color-text-utilities-text-on-measurement: var(--sds-color-primitives-pink-200);
  --sds-color-border-utilities-measurement: var(--sds-color-primitives-pink-600);
  --sds-color-background-neutral-default: var(--sds-color-primitives-slate-400);
  --sds-color-background-neutral-hover: var(--sds-color-primitives-slate-500);
  --sds-color-background-neutral-secondary: var(--sds-color-primitives-slate-900);
  --sds-color-background-neutral-secondary-hover: var(--sds-color-primitives-slate-1000);
  --sds-color-background-neutral-tertiary: var(--sds-color-primitives-slate-900);
  --sds-color-background-neutral-tertiary-hover: var(--sds-color-primitives-slate-1000);
  --sds-color-text-neutral-default: var(--sds-color-primitives-slate-200);
  --sds-color-text-neutral-secondary: var(--sds-color-primitives-slate-300);
  --sds-color-text-neutral-tertiary: var(--sds-color-primitives-slate-400);
  --sds-color-text-neutral-on-neutral: var(--sds-color-primitives-slate-1000);
  --sds-color-text-neutral-on-neutral-secondary: var(--sds-color-primitives-slate-100);
  --sds-color-text-neutral-on-neutral-tertiary: var(--sds-color-primitives-slate-100);
  --sds-color-icon-neutral-default: var(--sds-color-primitives-slate-200);
  --sds-color-icon-neutral-secondary: var(--sds-color-primitives-slate-300);
  --sds-color-icon-neutral-tertiary: var(--sds-color-primitives-slate-400);
  --sds-color-icon-neutral-on-neutral: var(--sds-color-primitives-slate-1000);
  --sds-color-icon-neutral-on-neutral-secondary: var(--sds-color-primitives-slate-100);
  --sds-color-icon-neutral-on-neutral-tertiary: var(--sds-color-primitives-slate-100);
  --sds-color-border-neutral-default: var(--sds-color-primitives-slate-100);
  --sds-color-border-neutral-secondary: var(--sds-color-primitives-slate-500);
  --sds-color-border-default-tertiary: var(--sds-color-primitives-gray-400);
  --sds-color-border-neutral-tertiary: var(--sds-color-primitives-slate-600);
  --sds-color-border-brand-tertiary: var(--sds-color-primitives-brand-400);
  --sds-color-border-positive-tertiary: var(--sds-color-primitives-green-600);
  --sds-color-border-warning-tertiary: var(--sds-color-primitives-yellow-600);
  --sds-color-border-danger-tertiary: var(--sds-color-primitives-red-500);
  --sds-color-icon-utilities-icon-on-measurement: var(--sds-color-primitives-pink-200);
  --sds-color-border-utilities-swatch: #FFFFFF3D;
  --sds-color-icon-utilities-icon: var(--sds-color-primitives-pink-400);
}

[data-responsive-mode="Mobile"] {
  --sds-responsive-device-width: 375px;
  --sds-responsive-root-font-size: var(--sds-typography-primitives-scale-03);
  --sds-responsive-scale: 1.25;
  --sds-responsive-device: mobile;
}

[data-responsive-mode="Tablet"] {
  --sds-responsive-device-width: 768px;
  --sds-responsive-root-font-size: var(--sds-typography-primitives-scale-03);
  --sds-responsive-scale: 1;
  --sds-responsive-device: tablet;
}

body {
  margin: 0;
}
